.neutral-section-container {
    .neutral-area-center-section {
        display: flex;
        align-items: center;
        border: 1px solid purple;
        .prizes-remaining-container {
            display: flex;
            flex-direction: column;
            width: 140px;
            height: 300px;
            padding-top: 4px;
            margin-right: -140px;
            border-right: 1px solid black;
            .prizes-remaining-title {
                margin-top: 4px;
                font-weight: bold;
                font-size: 24px;
            }
            .remaining-neutral-chips-list {
                display: flex;
                flex-wrap: wrap;
                .remaining-neutral-chip-container {
                    display: inline;
                    margin-right: auto;
                    padding-left: 8px;
                }
            }
        }
        .current-prize-container {
            padding-top: 16px;
            margin: 0 auto;
            .current-prize-text {
                margin-bottom: 8px;
            }
        }
        .game-over-text {
            font-size: 48px;
            margin: 0 auto;
        }
    }
    .secondary-player-chip,
    .neutral-chip,
    .primary-player-chip {
        border-radius: 50%;
        border: 1px solid black;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px auto;
    }
    .primary-player-chip {
        background-color: greenyellow;
    }
    .secondary-player-chip {
        background-color: tomato;
    }
}
