.primary-section-container {
    background-color: greenyellow;
    padding: 36px 24px;
    .player-chips-container {
        display: flex;
        justify-content: center;
        .player-chip {
            border-radius: 50%;
            border: 1px solid black;
            background-color: #fff;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            cursor: pointer;
        }
        .player-chip:first-of-type {
            margin-left: 0px;
        }
    }
}
